<!DOCTYPE html>
<html>
<title>Juxtaprose</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
html{ 
  background: url(images/bg6.jpeg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif;

}
.w3-row-padding img {margin-bottom: 12px}
/* Set the width of the sidebar to 120px */
.w3-sidebar {width: 120px;background: black;}
/* Add a left margin to the "page content" that matches the width of the sidebar (120px) */
#main {margin-left: 120px}
/* Remove margins from "page content" on small screens */
@media only screen and (max-width: 600px) {#main {margin-left: 0}}
</style>
<body>  
    <nav class="w3-sidebar w3-bar-block w3-small w3-hide-small w3-center w3-light-grey">
        <img src="images/g4.jpg" style="width:100%" >
        <a href="/" class="w3-bar-item w3-button w3-padding-large w3-hover-grey">
          <i class="fa fa-home w3-xxlarge"></i>
          <p>HOME</p>
        </a>
        <a href="/users" class="w3-bar-item w3-button w3-padding-large w3-hover-grey">
          <i class="fa fa-user w3-xxlarge"></i>
          <p>REGISTER</p>
        </a>
        <a href="/login" class="w3-bar-item w3-button w3-padding-large w3-hover-grey">
          <i class="fa fa-envelope w3-xxlarge"></i>
          <p>LOG IN</p>
        </a>
        <a href="/contact" class="w3-bar-item w3-button w3-padding-large w3-grey">
          <i class="fa fa-phone w3-xxlarge"></i>
          <p>CONTACT</p>
        </a>
      </nav>
      <header class="w3-padding-0 w3-center w3-black" id="home">
        <h1 class="w3-jumbo"><span class="w3-hide-small">It's time to </span>JUXTAPOSE!!</h1>
      </header>  
            
      <div class="w3-padding-64 w3-content w3-text-black" id="contact">
        <h1 class="w3-text-black"><b>Contact Us</b></h1>
        <hr style="width:200px" class="w3-opacity">
    
        <div class="w3-section">
          <p><i class="fa fa-map-marker fa-fw w3-text-black w3-xxlarge w3-margin-right"></i> Chicago, US</p>
          <p><i class="fa fa-phone fa-fw w3-text-black w3-xxlarge w3-margin-right"></i> Phone: +00 151515</p>
          <p><i class="fa fa-envelope fa-fw w3-text-black w3-xxlarge w3-margin-right"> </i> Email: mail@mail.com</p>
        </div><br>    
        <form action="/" target="_blank">
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Name" required name="Name"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Email" required name="Email"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Subject" required name="Subject"></p>
          <p><input class="w3-input w3-padding-16" type="text" placeholder="Message" required name="Message"></p>
          <p>
            <button class="w3-button w3-black w3-padding-large" type="submit">
              <i class="fa fa-paper-plane"></i> SEND MESSAGE
            </button>
          </p>
        </form>
      <!-- End Contact Section -->
      </div>
      
        <!-- Footer -->
      <footer class="w3-content w3-padding-64 w3-text-black w3-xlarge">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
      <!-- End footer -->
      </footer>
    </div>
    
    </body>
    </html>      